<div class="container1">
    <div class="bg ftco-animate">
        <img class="img-KetQua" src="/asset/images/image_6.jpg" alt="">
        <div class="centered">
            <form class="form-ThanhCong" action="">
                <section class="section-ThanhCong">
                    <img src="/asset/images/tick.png" alt="">
                </section>
                <h2 style="text-align: center;color: azure;"><b> "Chúc Mừng Bạn Đã Thanh Toán Thành Công" </b></h2>
                <center>
                    <button class="btn-phieuthongtin"><i class="fas fa-briefcase-medical"></i> Home</button>
                    <button class="btn-phieuthongtin"><i class="fas fa-hand-holding-medical"></i> Dich Vụ</button>
                </center>
            </form>
        </div>
    </div>
</div>