<!--<footer class="ftco-footer">
        <div class="container mb-5 pb-4">
            <div class="row">
                <div class="col-lg col-md-6">
                    <div class="ftco-footer-widget">
                        <a href="">
                            <img src="/asset/images/logo.jpg" alt="">
                        </a>
                        <p style="font-size: 20px;"><b> YourDocTor <br> Provide Health</b></p>
                        <ul class="ftco-footer-social list-unstyled mt-4">
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg col-md-6">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Dịch Vụ</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span><b>Khám Tổng Quát</b></a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Khám Sức Khỏe Cơ Bản</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Sức khỏe và sắc đẹp</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Xét Nghiệm Gan</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Xét Nghiệm Tổng Quát</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span></a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg col-md-6">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Departments</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Doctors</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Pricing</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg col-md-6">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Emergency Help</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Qualified Doctors</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Location &amp; Directions</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Medical Treatment</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg col-md-6">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="fa fa-map-marker mr-3"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-primary py-5">
            <div class="row">
                <div class="col-md-12 text-center">

                    <p class="mb-0">-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--<b style="font-size: 40px;color: white;border: red;">
    YourDocTor - Provide Health
</b>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--</p>
            </div>
        </div>
    </div>
</footer>-->

<footer class="ftco-footer">
    <div class="container mb-5 pb-4">
        <div class="row">
            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <a href="">
                        <img src="/asset/images/favicon (2).ico" alt="">
                    </a>
                    <p style="font-size: 20px;"><b> YourDocTor <br> Provide Health</b></p>
                    <ul class="ftco-footer-social list-unstyled mt-4">
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Dịch Vụ</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Khám Tổng Quát</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Khám Sức Khỏe Cơ Bản</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Sức khỏe và sắc đẹp</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Xét Nghiệm Gan</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Xét Nghiệm Tổng Quát</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Kết Nối Với YourDocTor</h2>
                    <ul class="list-unstyled" style="display:inline-block">
                        <img class="imgsocial" src="~/asset/images/facebook.png" />
                        <img class="imgsocial" src="~/asset/images/youtube.png" />


                    </ul> <br />
                    <div>
                        <div class="fb-like" style="margin-top:20px" data-href="https://developers.facebook.com/docs/plugins/" data-width="200px" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Liên Hệ</h2>
                    <ul class="list-unstyled">
                        <li><span class="fa fa-map-marker mr-3"></span><span class="text">60a Bùi Đình Túy</span></li>
                        <li><a href="#"><span class="fa fa-phone mr-3"></span><span class="text">+077615790</span></a></li>
                        <li><a href="#"><span class="fa fa-paper-plane mr-3"></span><span class="text">Yourdoctor@gmail</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Sắp Sửa Phát Triển</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Thanh Toán Online></a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Liên Hệ Trực Tiếp Bác Sĩ </a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Chat RealTime Bác Sĩ</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Phát Triển Trên APP</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Thanks</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary py-5">
        <div class="row">
            <div class="col-md-12 text-center">

                <p class="mb-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <b style="font-size: 40px;color: white;border: red;">
                        YourDocTor - Provide Health
                    </b>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
