<h2 class="text-muted">DANH MỤC TÌNH TRẠNG <small>Danh sách</small></h2>
<p-panel #pnlStatusCategories>
    <p-header>
        <div class="row">
            <div class="col">
                <button appPermission appFunction="CATEGORY_STATUS_CATEGORY" appAction="CREATE" pButton type="button"
                    icon="pi pi-plus" label="Thêm" class="mr-2" (click)="onShowAddedModal()"></button>
                <button appPermission appFunction="CATEGORY_STATUS_CATEGORY" appAction="UPDATE" pButton type="button"
                    icon="pi pi-pencil" label="Sửa" class="ui-button-warning mr-2"
                    (click)="onShowEditedModal()"></button>
                <button appPermission appFunction="CATEGORY_STATUS_CATEGORY" appAction="DELETE" pButton type="button"
                    icon="pi pi-trash" label="Xoá" class="ui-button-danger" (click)="onConfirmDelete()"></button>
            </div>
        </div>
    </p-header>
    <p-treeTable [value]="items" selectionMode="single" [(selection)]="selectedItem" [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Mã tình trạng</th>
                <th>Tên tình trạng</th>
                <th>Màu sắc</th>
                <th>Thứ tự</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttSelectableRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.id}}
                </td>
                <td>{{rowData.name}}</td>
                <td>{{rowData.color}}</td>
                <td>{{rowData.sortOrder}}</td>
            </tr>
        </ng-template>
    </p-treeTable>
</p-panel>
<p-blockUI [blocked]="blockedPanel" [target]="pnlStatusCategories">
    <p-progressSpinner
        [style]="{'position':'absolute','left':'50%','top':'50%','transform':'translate(-50%,-50%)'}">
    </p-progressSpinner>
</p-blockUI>