<form novalidate class="ui-fluid" [formGroup]="entityForm">
    <div class="p-field">
        <label for="diagnostic">Chuẩn đoán *</label>
        <input type="text" id="diagnostic" pInputText formControlName="diagnostic">
        <app-validation-messages [entityForm]="entityForm" fieldName="diagnostic"
            [validationMessages]="VALIDATION_MESSAGES">
        </app-validation-messages>
    </div>

    <div class="p-field">
        <label for="treatment">Điều trị *</label>
        <input type="text" id="treatment" pInputText formControlName="treatment">
        <app-validation-messages [entityForm]="entityForm" fieldName="treatment"
            [validationMessages]="VALIDATION_MESSAGES">
        </app-validation-messages>
    </div>

    <div class="d-flex">
        <button pButton type="button" icon="pi pi-check" label="Xác nhận" class="mr-2" (click)="saveData()"></button>
        <button pButton type="button" icon="pi pi-times" label="Huỷ bỏ" class="ui-button-secondary"
            (click)="ref.close()"></button>
    </div>

    <p-blockUI [blocked]="blockedPanel">
        <p-progressSpinner
            [style]="{'position':'absolute','left':'50%','top':'50%','transform':'translate(-50%,-50%)'}">
        </p-progressSpinner>
    </p-blockUI>
</form>