<button type="button" pButton icon="pi pi-angle-left" label="Trở về" class="ui-button-secondary mb-4" (click)="goBack()"></button>
<form novalidate class="ui-fluid" [formGroup]="entityForm">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="id">Mã chuyên khoa *</label>
            <input id="id" type="text" pInputText formControlName="id">
            <app-validation-messages [entityForm]="entityForm" fieldName="id"
                [validationMessages]="VALIDATION_MESSAGES">
            </app-validation-messages>
        </div>
        <div class="p-field p-col">
            <label for="name">Tên chuyên khoa *</label>
            <input id="name" type="text" pInputText formControlName="name">
            <app-validation-messages [entityForm]="entityForm" fieldName="name"
                [validationMessages]="VALIDATION_MESSAGES">
            </app-validation-messages>
        </div>
        <div class="p-field p-col">
            <label for="description">Mô tả</label>
            <input id="description" type="text" pInputText formControlName="description">
        </div>
    </div>
    <div class="p-field">
        <label for="content">Nội dung</label>
        <editor [apiKey]="tinyMceService.ApiKey" [init]="tinyMceService.Configuration" formControlName="content">
        </editor>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="parentId">Chọn thành phần cha</label>
            <input id="parentId" type="text" pInputText formControlName="parentId">
        </div>
        <div class="p-field p-col">
            <label for="sortOrder">Thứ tự</label>
            <input id="sortOrder" type="text" pInputText formControlName="sortOrder">
        </div>
        <div class="p-field p-col">
            <label for="seoAlias">Seo Alias</label>
            <input id="seoAlias" type="text" pInputText formControlName="seoAlias">
        </div>
    </div>

    <div class="p-field">
        <p-fileUpload [showUploadButton]="false" [showCancelButton]="false" (onRemove)="removeAttachments($event)"
            (onSelect)="selectAttachments($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
        </p-fileUpload>
        <p-table [value]="attachments" styleClass="mt-3">
            <ng-template pTemplate="header">
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên file</th>
                    <th>Đuôi</th>
                    <th>Dung lượng</th>
                    <th>Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-file>
                <tr>
                    <td><img src="{{serverPath + file.filePath}}" class="w-25" /></td>
                    <td>{{file.fileName}}</td>
                    <td>{{file.fileType}}</td>
                    <td>{{file.fileSize}}</td>
                    <td>
                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger mr-2"
                            (click)="deleteAttachment(file.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="d-flex">
        <button pButton type="button" icon="pi pi-check" label="Xác nhận" class="mr-2" (click)="saveData()"></button>
        <button pButton type="button" icon="pi pi-times" label="Huỷ bỏ" class="ui-button-secondary"
            (click)="goBack()"></button>
    </div>

    <p-blockUI [blocked]="blockedPanel">
        <p-progressSpinner
            [style]="{'position':'absolute','left':'50%','top':'50%','transform':'translate(-50%,-50%)'}">
        </p-progressSpinner>
    </p-blockUI>
</form>