<div class="bg-dark text-white py-5 vh-100 d-flex align-items-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
            </div>
            <div class="col-md-10">
                <h3>OPPSSS!!!! Xin lỗi...</h3>
                <p>Xin lỗi, truy cập của bạn bị máy chủ chúng tôi từ chối.<br />Vui lòng quay lại.</p>
                <button type="button" class="btn btn-danger" (click)="onLoggedOut()">Quay lại</button>
            </div>
        </div>
    </div>
</div>