<p-table [value]="items" selectionMode="multiple"  [(selection)]="selectedItems" [responsive]="true" [scrollable]="true"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 64px;" class="text-center">
                Chọn
            </th>
            <th>Mã lệnh</th>
            <th>Tên lệnh</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
            <td style="width: 64px;" class="text-center">
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
        </tr>
    </ng-template>
</p-table>

<p-blockUI [blocked]="blockedPanel">
    <p-progressSpinner [style]="{'position':'absolute','left':'50%','top':'50%','transform':'translate(-50%,-50%)'}">
    </p-progressSpinner>
</p-blockUI>